.task-list {
  text-align: center;
}

.edit {
  margin-top: 4em;
  text-align: left;
}

#new-task {
  font-size: 1.2em;
  height: 1.2em;
  margin-bottom: 1.5em;
  margin-left: auto;
  margin-right: auto;
}


