<div class="container">
  <div class="row">
    <div class="task-list span6">

      <h1>Todo List</h1>

      <input type="text" id="new-task">

      <table class='tasks zebra-striped'>
      </table>
    </div>
    <div class="edit span1">

    </div>
  </div>


</div>

<script type="text/javascript">
  $(document).ready(function() {
    App = {};
    App.collection = new Todo.collections.Tasks(<%= @tasks.to_json.html_safe %>);
    App.view = new Todo.views.TasksView({collection: App.collection, el: '.task-list'});
    App.view.render();
  });
</script>

